.root {
    -fx-base: #444444;
    -fx-background: #333333;
    -fx-accent: #006496;
    -fx-default-button: #88a8ed;
    -fx-focus-color: #039ed3;
    -fx-faint-focus-color: #039ed322;
    -fx-focused-text-base-color: ladder(
            -fx-selection-bar,
            -fx-light-text-color 45%,
            -fx-dark-text-color 46%,
            -fx-dark-text-color 59%,
            -fx-mid-text-color 60%
    );
    -fx-focused-mark-color: -fx-focused-text-base-color;

    -fx-font-family: verdana;
}

.button, .combo-box, .menu-bar, .menu, .menu-item {
    -fx-background-color: #555555;
    -fx-border-color: #323232;
    -fx-background-radius: 7;
    -fx-border-radius: 7;
}

.button:hover, .combo-box:hover {
    -fx-background-color: #888888;
}

.pane {
    -fx-background-color: transparent;
}

.text-area, .text-field {
    -fx-font-size: 13px;
    -fx-font-family: Arial;
    -fx-focus-color: transparent;
    -fx-text-fill: #ffffff;
    -fx-background-radius: 7;
    -fx-border-radius: 0;
    -fx-background-color: rgba(0, 0, 0, 0.4);
    -fx-background: transparent;
}

.text-area .scroll-pane .viewport, .text-area.scroll-pane, .text-area.scroll-pane.content,.hbox {
    -fx-background-color: transparent;
    -fx-background: transparent;
}

.text-area.scroll-bar {
    -fx-background-color: transparent;
}

.text-area .scroll-bar:vertical:disabled {
    -fx-opacity: 0;
}

.text-area > .scroll-pane {
    -fx-vbar-policy: never;
    -fx-hbar-policy: never;
}

.label {
    -fx-text-fill: #ffffff;
    -fx-background-color: rgba(0, 0, 0, 0.5);
    -fx-padding: 5;
}
