.root {
    -fx-base: #9fc7df;
    -fx-background: #eeeeee;
    -fx-accent: #0096c9;
    -fx-default-button: #abd8ed;
    -fx-focus-color: #039ed3;
    -fx-faint-focus-color: #039ed322;
    -fx-focused-text-base-color: ladder(
            -fx-selection-bar,
            -fx-light-text-color 45%,
            -fx-dark-text-color 46%,
            -fx-dark-text-color 59%,
            -fx-mid-text-color 60%
    );
    -fx-focused-mark-color: -fx-focused-text-base-color;
    -fx-font-family: verdana;
}

.button, .combo-box, .menu-bar, .menu, .menu-item {
    -fx-border-color: #636da6;
    -fx-background-radius: 7;
    -fx-border-radius: 7;
}

.button:hover, .combo-box:hover {
    -fx-background-color: #e0f7f0;
}

.text-area .scroll-pane .viewport, .text-area.scroll-pane, .text-area.scroll-pane.content,.hbox, .text-area {
    -fx-background-color: transparent;
    -fx-background: transparent;
}

