.root {
    -fx-font-size: 13px;
    -fx-font-family: Arial;
    -fx-background-color: transparent;
    -fx-text-fill: #ffffff;
}

.combo-box-base, .cell {
    -fx-background-color: rgba(0, 0, 0, 0.55);
    -fx-text-fill: #ffffff;
    -fx-alignment: center;
}

.text-area {
    -fx-background-color: rgba(0, 0, 0, 0.55);
    -fx-font-size: 14px;
    -fx-text-fill: #ffffff;
    -fx-padding: 15px 30px 15px 30px;
    -fx-background-insets: 10px;
}

.text-field {
    -fx-background-color: rgba(0, 0, 0, 0.55);
    -fx-text-fill: #ffffff;
}

.text-area .scroll-pane {
    -fx-background-color: transparent;
}

.text-area .scroll-pane .viewport {
    -fx-background-color: transparent;
    -fx-focus-color: rgba(0, 0, 0, 0.55)
}

.text-area .scroll-pane .content {
    -fx-background-color: transparent;
    -fx-text-fill: #ffffff;
}

.hbox {
    -fx-background-color: transparent;
    -fx-spacing: 5px;
    -fx-padding: 0px 10px 0px 10px;
}

.label {
    -fx-text-fill: #ffffff;
    -fx-background-color: rgba(0, 0, 0, 0.55);
    -fx-padding: 5;
}

.text-area.scroll-bar {
    -fx-background-color: transparent;
}

.text-area .scroll-bar:vertical:disabled {
    -fx-opacity: 0;
}

.text-area > .scroll-pane {
    -fx-vbar-policy: never;
    -fx-hbar-policy: never;
}