.root {
    -fx-font-size: 13px;
    -fx-background-color: transparent;
    -fx-text-fill: #ffffff;
}

.combo-box-base, .cell{
    -fx-background-color: rgba(0, 0, 0, 0.5);
    -fx-text-fill: #ffffff;
    -fx-alignment: center;
}

.text-area {
    -fx-background-color: rgba(0, 0, 0, 0.5);
    -fx-text-fill: #ffffff;
    -fx-padding: 10px;
    -fx-background-insets: 10px;
}

.text-field {
    -fx-background-color: rgba(0, 0, 0, 0.5);
    -fx-text-fill: #ffffff;
}

.text-area .scroll-pane {
    -fx-background-color: transparent;
}

.text-area .scroll-pane .viewport {
    -fx-background-color: transparent;
    -fx-focus-color: rgba(0,0,0,0.7)
}

.text-area .scroll-pane .content {
    -fx-background-color: transparent;
    -fx-text-fill: #ffffff;
}

.hbox {
    -fx-background-color: transparent;
    -fx-spacing: 5px;
    -fx-padding: 10px;
}
.label {
    -fx-text-fill: #ffffff;
    -fx-background-color: rgba(0, 0, 0, 0.5);
    -fx-padding: 5;
}